{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Мой Додыр - профессиональная уборка квартир в Бишкеке</title>
	<!-- core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
</head><!--/head-->

<body id="home" class="homepage">


    <header id="top-header" class="navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                <nav class="collapse navbar-collapse navbar-left" role="navigation">
                    <div class="main-menu">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="scroll"><a href="#about" data-section="#about"  style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;">О нас </a></li>
                            <li class="scroll"><a href="#features" data-section="#features" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;">Преимущества</a></li>
                            <li class="scroll"><a href="#services" data-section="#services" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;">Услуги</a></li>
                        </ul>
                    </div>
                </nav>
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a class="smooth-scroll text-right" data-section="#home" href="#home" >
                            <h4 style=" padding-left:250px;color:#fff; font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 20px;">Мой Додыр</h4>
                        </a>
                    </div>
                    <!-- /logo -->
                </div>

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="scroll"><a href="#portfolio" data-section="#portfolio" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;">Наши работы</a></li>
                            
                        </ul>
                        <a href="{% url 'main:contacts' %}" style=" font-family: 'Museo Sans', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px;"><span id="contact" style=" line-height: 48px;padding: 10px 15px;text-decoration: none;background: transparent;">Контакты</span> </a>
                    </div>
                </nav>
                <!-- /main nav -->
                
            </div>
        </header>

    {% if success_message%}
            <div class="alert alert-success text-center" role="alert">
            <br>
            <h5>{{success_message}}</h5>
            </div>
    {% endif %}
    <section id="main-slider">
        <div >
            <div class="item" style="background-image: url({% static 'images/slider/nazar.jpg' %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                <br>
                                    <h2 style="color:yelow">Давайте начистоту</h2>
                                    <h4>Уборка доступнее, чем кажется.</h4>
                                    <br>
                                

                                    <a target="_blank" class="btn btn-primary btn-lg" href="{%url 'main:order'%}">Заказать уборку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <!--
            <div class="item" style="background-image: url({% static 'images/slider/clean_2.jpg' %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">

                                    <h2 style="color:yelow">Давайте начистоту</h2>
                                    <p>У вас есть миллион причин не убираться дома.<br> Например, мы.</p>
                                    <a target="_blank" class="btn btn-primary btn-lg" href="{%url 'main:order'%}"> Заказать уборку </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item
            <div class="item" style="background-image: url({% static 'images/slider/clean_3.jpg' %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-content text-center">
                                    <h2 style="color:yelow">Давайте начистоту</h2>
                                    <p>У вас есть миллион причин не убираться дома.<br> Например, мы.</p>
                                    <a target="_blank" class="btn btn-primary btn-lg" href="{%url 'main:order'%}">Заказать уборку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Добро пожаловать в Мой Додыр</h2>
                <p class="text-center wow fadeInDown">наслаждайтесь нашим сервисом и займите себя приятной частью жизни</p>
                <br>
            </div>

            <div class="row">
                

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Коротко о Сервисе</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


                </div>
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="{% static 'images/feature2.png'%}" alt="">
                </div>
            </div>
        </div>
    </section><!--/#about-->



    <section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Наши  Преимущества</h2>
                <p class="text-center wow fadeInDown">Мы знаем толк в хорошей уборке и хотим, чтобы у вас всегда было чисто в квартире и легко на душе
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <br>
                    <img class="img-responsive" src="{% static 'images/feature1.png'%}" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Доступность</h4>
                            <p>Приезжаем в любое время</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Качество</h4>
                            <p>Гарантируем высокое качество</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Профессиональность</h4>
                            <p>Обучаем каждого сотрудника</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Цена</h4>
                            <p>У нас идеальное соотношение цены и качества</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta2">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">Как вы понимаете нельзя не заказать уборку у нас</h2>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Убедительное предложение который заставить клиента заказать уборку</p>
                <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a target="_blank"class="btn btn-primary btn-lg" href="{% url 'main:order'%}">Заказать уборку сейчас</a></p>
            </div>
        </div>
    </section>

    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Наши услуги</h2>
                <p class="text-center wow fadeInDown">Мы предоставляем услуги lalala blabla bla i vse takoe</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="features-item">
                            <div class="features-icon">
                                <i class="fa fa-building"></i>
                            </div>
                            <h3 class="features-title font-alt">Генеральная уборка</h3>
                            Изготавливаем свадебную цветочную атрибутику и тематические композиции из цветов, занимаемся оформлением интерьеров
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="features-item">
                            <div class="features-icon">
                                <i class="fa fa-barcode"></i>
                            </div>
                            <h3 class="features-title font-alt">Мойка ковров  </h3>
                                Украшаем свадебные автомобили великолепным флористическим декором, который запомнится надолго
                                <br>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="features-item">
                            <div class="features-icon">
                                <i class="fa fa-archive"></i>
                            </div>
                            <h3 class="features-title font-alt">Чистка мебели </h3>
                            Все наши свадебные букеты, созданны руками профессиональных флористов, настоящих художников своего дела
                        </div>
                    </div>

                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div>

                <div class="text-center"> 
                    <h2 style="color:white">Отзывы клиентов</h2>
                    <br>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="item active">
                                    <div class="row">
                                        <div class="col-md-4">
                                        <img class="img-circle img-thumbnail" src="{% static 'images/testimonial/otzyv1.jpg'%}" height="150" width="150" alt=""><h4>Рома Ким</h4>
                                        <small>студент</small></div>
                                        <div class="col-md-8 text-left"><span style="  font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
  font-size: 18px;">После каждой вечеринки, как известно, создается куча работы, надо было убрать дом, чтобы родители дальше доверяли)). Надо было заранее об этом задуматься, однако реально спас нас всех Мой Додыр, приехали две женщины и за секунды все убрали, я реально рад!</span></div>
                                    </div>
                                        
                                        
                                        
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                        <div class="item active">
                                        <div class="row">
                                            <div class="col-md-4"><img class="img-circle img-thumbnail" src="{% static 'images/testimonial/otzyv2.jpg'%}" height="150" width="150" alt=""><h4>Карина Исхакова</h4>
                                        <small>бизнес леди</small></div>
                                        
                                        <div class="col-md-8 text-left"><span  style="  font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
  font-size: 18px;">Ближе к вечеру вспомнила, что звала друзей отметить мое небольшое повышение, только вот сил не было вообще, подруга посоветовала какой-то Мой Додыр, говорит убираются недорого, в общем заказала, в итоге вечер удался, за что вам спасибо, с меня отзыв как и обещала!)</span></div>
                                    </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-12"><br><br></div>
                                <div class="col-md-5">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-md-4"><img class="img-circle img-thumbnail" src="{% static 'images/testimonial/otzyv3.jpg'%}" height="150" width="150" alt=""><h4>Рустам Раимбеков</h4>
                                        <small>просто довольный клиент</small></div>
                                            <div class="col-md-8 text-left">
                                                <span style="  font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
  font-size: 18px;">Приехали с семьей с ИК, решили родителей позвать, дома грязно и не было еды, жена беременная была на тот момент, тогда в ФБ увидели пост этой компании, женщина пришла убралась и приготовила долгожданную еду, мне понравилась цена и качество, правда сроком тоже не подвели.</span>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Наши работы</h2>
                <p class="text-center wow fadeInDown">My vypolnyali takie takieto raboty i vse takoe destyatoe tridsatoe</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Все</a></li>
                    <li><a href="#" data-filter=".animation">Генеральная уборка</a></li>
                    <li><a href="#" data-filter=".Business">Мойка ковров</a></li>
                    <li><a href="#" data-filter=".art">Чистка мебели</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src=" {% static 'images/portfolio/01.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 1</h3>
                            <a class="preview" href="{% static 'images/portfolio/01.jpg'%}" rel="prettyPhoto">
                                <img src="{% static 'images/portfolio/expand.png'%}" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item Business art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/02.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            <a class="preview" href="{% static 'images/portfolio/02.jpg'%}" rel="prettyPhoto">
                                <img src="{% static 'images/portfolio/expand.png'%}" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/03.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            <a class="preview" href="{% static 'images/portfolio/03.jpg'%}" rel="prettyPhoto">
                                <img src="{% static 'images/portfolio/expand.png'%}" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/04.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            <a class="preview" href="{% static 'images/portfolio/04.jpg'%}" rel="prettyPhoto">
                                <img src="{% static 'images/portfolio/expand.png'%}" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/05.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="{% static 'images/portfolio/05.jpg'%}" rel="prettyPhoto">
                                <img src="{% static 'images/portfolio/expand.png'%}" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/06.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="{% static 'images/portfolio/06.jpg'%}" rel="prettyPhoto">
                                <img src="{% static 'images/portfolio/expand.png'%}" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/07.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            <a class="preview" href="{% static 'images/portfolio/07.jpg'%}" rel="prettyPhoto">
                                <img src="{% static 'images/portfolio/expand.png'%}" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/08.jpg'%}" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            <a class="preview" href="{% static 'images/portfolio/08.jpg'%}" rel="prettyPhoto">
                                <img src="{% static 'images/portfolio/expand.png'%}" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; 2015 Мой Додыр.</a>
                    </p>
                    <br>
                    <p class="text-center">
                        Мы в социальных сетях</a>
                    </p>
                    
                    <ul class="social-icons text-center">
                        <li><a href="https://vk.com/public96862602" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href="https://instagram.com/mydodo.kg/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li><a href="https://www.facebook.com/mododyrkg" target="_blank"><i class="fa fa-vk fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/mousescroll.js'%}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js'%}"></script>
    <script src="{% static 'js/jquery.isotope.min.js'%}"></script>
    <script src="{% static 'js/jquery.inview.min.js'%}"></script>
    <script src="{% static 'js/wow.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>